header{
    width: 100%;
    height: 10%;
    padding: 3vh 3vh 2vw 0;
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: space-evenly;
    text-align:center;
    gap: 1%;
}

@media (min-width: 900px){
    header{
        justify-content: space-around;
        gap: 15%;
    }
    #soundlink p{
        font-size: 2.5vw;
    }
    #soundlink img{
        width:5vw;
    }
    #discovAndJoinlinks {
        padding-top: 5%;
    }
    #discovAndJoinlinks a{
        font-size: 2vw;
    }
}
nav{
    display: flex;
    place-content: center;
    width: 30%;
}
#soundlink{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 7%;
}
#discovAndJoinlinks{
    display: flex;
    padding-left:5%;
    gap: 14%;
    margin: 0%;
    padding-bottom: 2%;
    padding-right: 30%;
    place-items: center;

}
#discovAndJoinlinks a:hover{
    color: grey;
}

#soundlink p:hover{
    color: grey;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 4vw;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}


#soundwavelogo{
    width:11vw;
}

#soundwavetext{
    font-size: 5vw;
}



