#joinSection{
    height:60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
    gap: 1%;
}

#joinSection:nth-child(2){
    align-self:flex-end;
}

#fun{
    color: #e11772e9;
    font-weight: bold;

}
h1{
    font-size: 10vw;
    font-weight:bold;
    padding-left:8%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0%;
}
form{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height:85%;
    width:90%;
    padding-left: 3%;
    padding-top: 2%;

}
ul{
    width: 90%;
    height:90%;
    padding:0%;
    display: flex;
    flex-direction: column;
    gap: 6%;
    background-color: #202027;  
    place-content: center;
    align-items: center;
    border-radius:20px;

}

.formList{
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 7%;
    height:18%
}

.formList input{
    border: 1px solid #2E3852;
    background-color: #202027;
    border-radius: 5px;
    height:95%;
    padding: 3%;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: bold;
}

.formList input:focus{
    border: #596da0;
}

.formList label{
    font-size:4vw;
    font-weight: bold;
}

#joinSubmit input{
    background-color: #1762A7;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: whitesmoke;
    border-radius: 5px;
    border-style: hidden;
    padding: 0.6em 0.3em;
    margin-top: 1em;
}