<section id="discoverSection">
    <h1>Discover new <br>music</h1>
    <ul>
        <li class="discoverIconsList">
            <img class="imgDiscover" src="../../assets/microphone.svg" alt="charts icon">
            <p>Charts</p>
        </li>
        <li class="discoverIconsList">
            <img class="imgDiscover"src="../../assets/albums.svg" alt="albums icon">
            <p>Albums</p>
        </li>
        <li class="discoverIconsList">
            <img class="imgDiscover"src="../../assets/more.svg" alt="more icon">
            <p>More</p>
        </li>
    </ul>
    <p id="joinText">By joining you can benefit by listening to<br>the latest albums released.</p>
    <img id="coverImg" src="../../assets/covers.jpg" alt="cover image">
</section>

<app-footer></app-footer>